@define-color foreground #bfdada;
@define-color background #060E14;
@define-color cursor #bfdada;

@define-color color0 #060E14;
@define-color color1 #59827E;
@define-color color2 #3B7187;
@define-color color3 #476B8A;
@define-color color4 #65A8AD;
@define-color color5 #60BDC5;
@define-color color6 #84BEBD;
@define-color color7 #bfdada;
@define-color color8 #859898;
@define-color color9 #59827E;
@define-color color10 #3B7187;
@define-color color11 #476B8A;
@define-color color12 #65A8AD;
@define-color color13 #60BDC5;
@define-color color14 #84BEBD;
@define-color color15 #bfdada;
